.about {
    background: $color-grey-main;
    padding: 2rem 1rem;

    h1,
    p {
        margin: 0 auto;
        text-align: center;
    }

    h1 {
        max-width: 17ch;
        margin: 1rem auto;
        font-size: $title;
    }

    p {
        max-width: 36ch;
        color: $color-black-lighter;
    }
}