.footer {
    background-color: $color-black-lighter;
    padding: 1rem;

    &__heading {
        font-weight: normal;
        color: $color-white;
    }

    ul {
        list-style-type: none;
        padding: 0;
        line-height: 1.5;

        li {
            display: flex;
            align-items: center;

            a {
                color: $color-white;
            }
    
            .footer__icon {
                color: $color-white;
                flex-basis: 8%;
            }

        }

        
    }
}