a[class*="button-primary"] {
    display: block;
    max-width: max-content;
    min-width: 180px;
    text-align: center;
    padding: 1rem 1.5rem;
    margin: 2rem auto;
    border-radius: 50px;
    background: linear-gradient($color-secondary, $color-primary);
    color: $color-white;
    transition: opacity .4s, box-shadow .4s;
    @include main-shadow;

    &:hover {
        opacity: .85;
        box-shadow: 2px 2px 5px 2px#949494;
        cursor: pointer;
    }
}