.restaurant-preview {
    background-color: $color-white;
    border-radius: 20px;
    position: relative;
    margin: 0 auto 1rem;
    max-width: 50ch;
    @include main-shadow;

    @media screen and(min-width: 769px){
        flex-basis: 48%;
        margin: unset;
    }

    &__img-container {
        width: 100%;
        aspect-ratio: 2 / 1;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 20px 20px 0 0;
        }

        &--landscape {
            object-position: bottom center;
        }

        &--portrait {
            object-position: center 61%;
        }
    }

    &__heading {
        margin: 1rem .8rem .3rem;
        font-family: "Roboto", sans-serif;

        a {
            color: $color-black;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border-radius: 20px;
            }
        }
    }

    &__where {
        padding: 0 .8rem 1rem;
        margin:0;
    }

    &__new {
        position: absolute;
        top: .8rem;
        right: 1rem;
        background: $color-tertiary;
        color: $color-tertiary-darker;
        padding: .35rem .7rem;
        border-radius: 3px;
        font-size: 14px;
        font-weight: 500
    }
}