.lds-ring {
    display: inline-block;
    background-color: $color-white;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    animation: loader-home 3s;

    .fas {
        position: absolute;
        font-size: $logo;
        left: calc(50% - 13px);
        top: calc(30vh + 20px);
        animation: color-switch 1.5s alternate-reverse 2;
    }

     div {
      display: block;
      position: absolute;
      width: 72px;
      height: 72px;
      top: 30vh;
      left: calc(50% - 36px);
      border: 8px solid;
      border-radius: 50%;
      animation: lds-ring 1.5s ease-in-out 2;
      border-color: $color-primary  transparent transparent transparent;

        &:first-child {
          animation-delay: -.45s;
        }

        &:nth-child(2) {
          animation-delay: -.25s;
        }
    }
  }
 

  @keyframes loader-home {
    0% {
        opacity: 1;
        z-index: 100;
    }
    85% {
        opacity: 1;
    }
  }

  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes color-switch {
    0% {
      color: $color-primary;
    }
    100% {
     color: $color-secondary;
    }
  }
  