/*Fonts sizes */
$labor: 1rem;       /* 16px */
$f18: 1.125rem;
$f20: 1.25rem;
$title: 1.5rem;  /* 24px */
$logo: 2rem;        /* 32px */

/*Font family */
$font-main: "Roboto", sans-serif;
$font-title: "Shrikhand", sans-serif;
