$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-black: #212427;
$color-black-lighter: #36393b;
$color-white: #FFFFFF;
$color-grey-main: #EEEEEE;
$color-grey-darker: #DEDEDE;

