@keyframes appear-item-1 {
    0% {
        opacity: 0;
        transform: translateY(35%);
    }
    20% {
        opacity: 0;
        transform: translateY(35%);

    }
    80% {
        opacity: 1;
        transform: translateY(-5%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes appear-item-2 {
    0% {
        opacity: 0;
        transform: translateY(35%);
    }
    30% {
        opacity: 0;
        transform: translateY(35%);

    }
    80% {
        opacity: 1;
        transform: translateY(-5%);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes appear-item-3 {
    0% {
        opacity: 0;
        transform: translateY(35%);
    }
    40% {
        opacity: 0;
        transform: translateY(35%);

    }
    80% {
        opacity: 1;
        transform: translateY(-5%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}