$fieldsets-animation-duration: ("entrees": "1s", "plats": "2s", "desserts": "3s");
$fieldsets-animation-step: ("entrees": 20%, "plats": 50%, "desserts": 60%);

$items-delay: (1: 30%, 2: 45%, 3: 60%, 4: 75%);

@each $fieldset, $duration in $fieldsets-animation-duration {
    .#{$fieldset} {
        animation: #{$fieldset}-appear #{$duration};
    }


    @keyframes #{$fieldset}-appear {
        0% {
            opacity: 0;
            transform: translateY(50%);
        }
        #{map-get($fieldsets-animation-step, #{$fieldset})} {
            opacity: 0;
            transform: translateY(50%);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @each $item, $delay in $items-delay {
        .#{$fieldset} .dish-animation-#{$item} {
            animation: appear-item-#{$item} 3s calc( #{map-get($fieldsets-animation-duration, #{$fieldset})} - 1s);
        }
    
        @keyframes appear-item-#{$item} {
            0% {
                opacity: 0;
                transform: translateY(60%);
            }
            #{$delay} {
                opacity: 0;
                transform: translateY(60%);
            }
            80% {
                opacity: 1;
                transform: translateY(-5%);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

}

